

.Login{
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/src/auth/Login3.jpg');
  /* background-repeat: repeat-y; */
  background-size: cover;

  /* background-position: center; */
  width: 100vw;
  
}

.resister{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/src/auth/REG2.jpg');
  /* background-repeat: repeat-y; */
  background-size: cover;
  /* background-color: #FFB100; */
  width: 100vw;

}


.cards{
  border-radius: 20px;
 display: flex;
 box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);

 width: 60%;
 /* min-height: 600px; */
 /* flex-wrap: wrap; */
 justify-content: center;
 align-items: center;
 height: 34rem;
 /* height: 60%; */
}
.text-center{
  text-align: center;
}

.cards2{
  border-radius: 25px;
 display: flex;

 width: 60%;
 /* min-height: 600px; */
 flex-wrap: wrap;
 box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
 height: 35rem;

 justify-content: center;
 align-items: center;
}

.left{
  display: flex;
  border-radius: 20px;
  /* align-items: center; */
  background: url('/src/auth/Login2.png');
  background-size: cover;
  /* flex-direction: column; */
  /* padding: 20%; */
  height: 100%;
  background-color: rgba(252, 183, 66, 0.5);
 box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);

  /* height: 25vh; */
  
  gap: 30px;
  flex: 1;
  background-position: center;
  
}
.contain3{
  display: flex;
  flex-direction: row;

}
.left2{
  display: flex;
  border-radius: 20px 0 0 20px ;
  /* flex: 1; */
  /* align-items: center; */
  background: url('/src/auth/REG.png');
  background-size: cover;
  background-position: center;
  /* background-color:rgba(31,38,135,0.5); */
 background-color:  rgba(44, 51, 51, .9);

  /* object-fit: cover; */
  /* background-repeat: no-repeat; */
  flex-direction: column;
  
 height: 100%;


 box-shadow: 0 8px 32px 0 rgba(44,51,51,0.8);

  gap: 30px;
  flex: 1.5;

}

.right{
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgb(173, 162, 255,.5);
  /* padding: 20px; */
 box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);

  /* gap: 30px; */
  /* align-items: center; */
  justify-self:center;
  height: 100%;
}

.right2{
  border-radius: 0 25px 25px 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgba(252, 183, 66, 0.8);

  /* padding: 20px; */
 /* box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37); */
 height: 100%;

  /* gap: 20px; */
  /* align-items: center; */
  justify-self:center;
  /* flex-wrap: wrap; */
  /* height: 78vh; */
}
.center{
  text-align: center;

}
.Resister{
  width: 60%;
  font-weight: 500;
  border: none;
  background-color: #16003B;
  padding: 7px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  top: 17%;
  right: 40%;
}
.mess{
  position: relative;
  top: 30%;
  right: 45%;
}
.formlogin{
  display: flex;
  align-items: center;
  justify-self:center;
  flex-direction: column;
  padding: 100px,0;
  gap: 70px;
  height: 100%;
}
.formlogin2{
  display: flex;
  align-items: center;
  justify-self:center;
  flex-direction: column;
  padding: 100px,0;
  gap: 32px;
  height: 100%;
  margin-top: 20px;
}
.inputlogin{
  width: 90%;
  border: none;
  /* border-bottom: 1px solid lightgray; */
  /* background-color: rgb(173, 162, 255,.1); */
  padding: 5px;
  border-radius: 15px;
  color: black;
 outline: none;
 margin-top: 30px;
}
.inputlogin2{
  width: 90%;
  border: none;
  /* border-bottom: 1px solid lightgray; */
  /* background-color: rgb(173, 162, 255,.1); */
  padding: 5.1px;
  border-radius: 15px;
  color: black;
 outline: none;
}

.Resister2{
  width: 60%;
  font-weight: 500;
  border: none;
  background-color: #16003B;
  padding: 7px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  /* position: relative;
  top: 35%;
  right: 20%; */
}
.Resister3{
  width: 60%;
  font-weight: 500;
  border: none;
  background-color: #FFB100;
  padding: 7px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  /* position: relative;
  top: 35%;
  right: 20%; */
}
.ll{
  font-size: '5rem';
  color:white;
}
.ll2{
  font-size: '5rem';
  color:black;
}

@media(max-width: 1000px) {
  
  .right{
    width:50vw;
    height: 40%;
    gap:20px;
    /* padding: 0; */
    /* display: none; */
  background:linear-gradient(rgb(255, 255, 255,.5),rgb(173, 162, 255,.5)), url('/src/auth/Login2.png');
  background-size: cover;
/* background-position: -2rem .5rem; */

  }
  .left{
   display: none;
  }
  .cards{
    flex-direction: column;
    width:50vw;
  }

  .ll{
    color:black;
  }
}

@media(max-width: 783px) {
  .right{
    width: 60vw;
    background-position: -4rem;
  }
  .cards{
    width: 60vw;
  }
}

@media(max-width: 580px){
  .right{
background-position: -4rem;

  }
}

@media(max-width: 500px){
  .right{
background-position: -7rem;

  }
}


@media(max-width: 500px){
  .right{
    height: 80%;
    width: 95%;
  }
  .cards{
    width: 90%;
  }
}



@media(max-width: 1000px) {
  
  .right2{
    width:100%;
    height: 40%;
    gap:20px;
    border-radius: 25px;
    /* padding: 0; */
    /* display: none; */
  background:linear-gradient(rgb(255, 255, 255,.5),rgba(151, 222, 206,.5)), url('/src/auth/REG2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  /* object-fit: cover; */
/* background-position: -2rem .5rem; */

  }
  .left2{
   display: none;
  }
  .cards2{
    flex-direction: column;
    /* width:50%; */
    /* height: 40%; */
  }
  .ll2{
    color:black;
  }
}

@media(max-width: 783px) {
  .right2{
    width: 60vw;
    /* background-position: -4rem; */
  }
  /* .cards2{
    width: 100%;

  } */
}

/* @media(max-width: 580px){
  .right2{
background-position: -4rem;

  }
}

@media(max-width: 500px){
  .right2{
background-position: -3.7rem;

  }
} */
a{
  text-decoration: none;
  color: white;

}

@media(max-width: 500px){
  .right2{
    height: 80%;
    width: 90vw;
  }
  .cards2{
    width: 90vw;
  }
}

.navbar{
  /* justify-content: space-around; */
  padding: 1% 3% ;
  /* position: sticky; */
  top: 0;
}
.contain{
  /* display: flex;
  flex: 2;
  flex-direction: column;
  border:1px solid; */
  padding: 20px;
}
.menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item{
  display: flex;
  align-items: center;
  gap: 10px;
}
.user{
  display: flex;
  align-items: center;
  gap: 10px;

}
.leftbar{
  flex: 2;
  
  position: sticky;
  /* top: 70px; */
  /* overflow: scroll; */
  /* height: calc(100vh-70px); */

}
.rightbar{
  flex:3;
}
.outlet{
  flex:6;
}
.main{
  display: flex;
}
.story{
 flex:1;
 border-radius: 15px;
 /* overflow: hidden; */
 
}
.stories{
display: flex;
height: 250px;
gap: 10px;
margin: 75px 0 15px 0;
flex-direction: row;
}

